.menu ul {
    margin: 0; 
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 13pt;
}

.menu ul li a {
    text-decoration: none;
    color: white; 
    height: 50%;
    width: 100%;
    background-color: #005555;
    display:block;
    text-transform: uppercase;
}
 
.menu ul li a:visited {
    color: white;
}
 
.menu ul li a:hover, .menu ul li .current {
    color: white;
    background-color: #5FD367;
}
