body{
	background:#EEEEEE;
}
section {
  width: 980px;
  margin: 0 auto;
  display: block;
  position: relative;
}
.section {
  margin: 0 auto;
  display: block;
  max-width: 100%;
  width:auto;
  position: relative;
}
h3{
  text-align:center;
  font-size: 1em;
  font-family: Arial;
  font-style: italic;
  font-weight: bold;
  color: black;
}
*, *:after, *:before { 
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box; 
  box-sizing: border-box; 
  }

.div{
   clear:both;
   margin: auto 1.5em;
}
#img{
  display:block;
  clear:both;
  width: auto;
  
}
#div_b{
  position: relative;
  clear:both;
  width: 95%;
  margin: 10px;
  padding: 5px;
}
#div_b2{
  position: relative;
  clear:both;
  width: 95%;
  margin: 10px;
  padding: 5px 15%;
  
}

#top{
  height: 10%;
  font-size: 1em;
  clear:both;
}
#title_image {
    background-color:transparent;
    color:white;
    font-size: 1.3em;
    padding:15px; 
}
#tit{
  font-size: 1.4em;
}
#col1{
  -webkit-box-shadow: 11px 2px 23px 0px rgba(0,0,0,0.50);
  -moz-box-shadow: 11px 2px 23px 0px rgba(0,0,0,0.50);
  box-shadow: 11px 2px 23px 0px rgba(0,0,0,0.50);
	padding-left: 1%;
	padding-right: 0cm;
	width: 46%;
  max-height: auto;
  float: left;	
  position: relative;
  border-left: thick double #B6B6B0;
  border-top: thick double #E9EBD2;
  border-top-left-radius: 1em 3em;
  border-top-right-radius: 0.3em 0.1em;
  border-bottom-right-radius: 0.3em 0.1em;
  border-bottom-left-radius: 1em 3em;
  display:block;

}
#col2{
  -webkit-box-shadow: -11px 2px 23px 0px rgba(0,0,0,0.50);
  -moz-box-shadow: -11px 2px 23px 0px rgba(0,0,0,0.50);
  box-shadow: -11px 2px 23px 0px rgba(0,0,0,0.50);
  position: relative;
	padding-right: 1%;
	padding-left: 0cm;
	width: 46%;
  max-height: auto;
  border-top: thick double #E9EBD2;
  border-right: thick double #B6B6B0;
  float: right;	
  border-top-left-radius: 0.3em 0.1em;
  border-top-right-radius: 1em 3em;
  border-bottom-right-radius: 1em 3em;
  border-bottom-left-radius: 0.3em 0.1em;
  display:block;
}
#tit_im   {

display:block;
position: relative;
}
#url_image {
  width: 90%;
  height: auto;
  vertical-align: middle;
  margin:auto;
  display:block;
  position: relative;
   
}

#image{
  max-width: 100%;
  height: auto;
  border-radius: 10px 8px;

}

#image1{
  width: auto;
  align-items: stretch;
  max-width: 100%;
  height: auto;
  margin: 20px auto;  
}
#l_credi{
  display:block;
  position: relative;
}

#title {
    background-color:black;
    color:white;
    text-align: justify;
    padding:5px;
    font-size:1.2em;
    display: inline-block;
    position: relative;

}

#descript {
	display:block;
	font-family: italic;
	position: relative;
}

#categorys{

	margin: 4em 1.5em;
  display:block;
  position: relative;
}

#licence{
  font-size: 1em;
  display:block;
  position: relative;
}
#url_origin{

  display:block;
  
  position: relative;
}
#text{

	display:block;
  
  position: relative;
}
#date{

	margin: 3em 1.5em;
  display:block;
  position: relative;
}

#cate{
	margin: 1em 0.4em;
	width-top: 1em;
  display:block;
  position: relative;
}


.modalDialog {
  max-width: 100%;
  width: auto;
  position: fixed;
  top : 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  vertical-align: middle;
  font-family: Arial, Helvetica, sans-serif;
  background: rgba(0,0,0,0.8);
  z-index: 99999;
  opacity:0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
}



.modalDialog:target {
  opacity:1;
  pointer-events: auto;
}
.modalDialog:before{
  display: inline-block;
  height: auto;
  vertical-align:middle;
}
.modalDialog.after{
  content: "";
  position: fixed;
  left: 0px;
  top: 40px;
  bottom: 40px;
  display: block;
  right: 0;
  width: auto;
  height: auto;
  z-index: -1;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.6);
  background:#444 none repeat scroll 0% 0%;
}
.modalDialog > div {
  vertical-align:middle;
  align-items: stretch;
  text-align: center;
  display: block;
  position: absolute;
  max-width: 90%;
  height: auto;
  width: auto;
  top:0%;
  left: 0%;
  line-height: 1;
  padding: 10px, auto;
  margin: 0;
  border-radius: 0px;
  background: #fff;
  background: -moz-linear-gradient(#fff, #999);
  background: -webkit-linear-gradient(#fff, #999);
  background: -o-linear-gradient(#fff, #999);
}



.close {
  background: #606061;
  color: #FFFFFF;
  line-height: 25px;
  position: absolute;
  right: 4px;
  text-align: center;
  top: 20px;
  width: 24px;
  text-decoration: none;
  font-weight: bold;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  -moz-box-shadow: 1px 1px 3px #000;
  -webkit-box-shadow: 1px 1px 3px #000;
  box-shadow: 1px 1px 3px #000;
}

.close:hover { background: #00d9ff; }


.textarea{
background-color: transparent;
border: 2px 
solid #0A287A;
border-radius: 8px 8px 8px 8px;
font-weight:100;
font-family: normal;
font-size: 0.8em;
margin: 1em 0em;
display:block;
position: relative;
}

/* General button style (reset) */
.btn {
  background: #b2c6d4;
  background-image: -webkit-linear-gradient(top, #b2c6d4, #2980b9);
  background-image: -moz-linear-gradient(top, #b2c6d4, #2980b9);
  background-image: -ms-linear-gradient(top, #b2c6d4, #2980b9);
  background-image: -o-linear-gradient(top, #b2c6d4, #2980b9);
  background-image: linear-gradient(to bottom, #b2c6d4, #2980b9);
  -webkit-border-radius: 60;
  -moz-border-radius: 60;
  border-radius: 60px;
  font-family: Arial;
  font-size: 1em;
  color: #ffffff;
  padding: 2px 10px 1px 1px;
  border: solid #1c191b 2px;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  margin: 1em;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.btn:after {
  content: '';
  position: absolute;
  z-index: -1;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
.btn:hover{
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
/* Pseudo elements for icons */
.btn:before{
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 2.5;
  position: relative;
  -webkit-font-smoothing: antialiased;
}

.icon-copy:before {
  content: url(copy.png);
}
.icon-send:before {
  content: url(send.png);
}

/* Button 5 */
.btn-5 {
  height: 70px;
  min-width: 260px;
  line-height: 2.5;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}

.btn-5:active {
  background: #9053a9;
  top: 2px;
}

.btn-5 span {
  display: inline-block;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.3s;
  -webkit-backface-visibility: hidden;
  -moz-transition: all 0.3s;
  -moz-backface-visibility: hidden;
  transition: all 0.3s;
  backface-visibility: hidden;
}

.btn-5:before {
  position: absolute;
  height: 100%;
  width: 100%;
  line-height: 2.5;
  font-size: 180%;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.btn-5:active:before {
  color: #3cb0fd;
}

/* Button 5b */
.btn:hover span {
  -webkit-transform: translateX(200%);
  -moz-transform: translateX(200%);
  -ms-transform: translateX(200%);
  transform: translateX(200%);
}

.btn-5b:before {
  left: -100%;
  top: 0;
}

.btn-5b:hover:before {
  left: 0;
}
